.features {
  padding: 60px 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $primari-text-color;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
}

  &__list {
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
      justify-content: space-between;      
      flex-wrap: wrap;
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      display: flex;
    }
  }

  &__item {
    max-width: 450px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__link {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: $additional-background-color;
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &__caption {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0px;
  }  
}
