
img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.hide {
  margin: 0;
  opacity: 0;
  position: absolute;
}

.portfolio {
  text-decoration: none;
}
