.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", cursive;
  text-decoration: none;
  color: $black;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }

  &__link {
    color: $accent-color;
  }
}

.connection {
  display: none;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }

  &--inverse {
    display: block;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .connection__link {
      align-items: center;
      display: flex;
      padding: 0;
      font-size: 14px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
      fill: $primari-text-color;
      color: $primari-text-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: $accent-color;
        color: $accent-color;
      }

      @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 28px;
      }

      &--inverse {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        text-decoration: none;
        color: $grays;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
    }

    .connection__icon {
      display: none;
      margin-right: 10px;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &--inverse {
      padding: 0;
      margin: 0;
      margin-bottom: 8px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.messenger {
  justify-content: center;
  display: flex;
  gap: 10px;
  padding: 0;

  &--inverse {
    padding: 0;
    gap: 10px;
  }

  &__link {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: $border;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #2196f3;
      color: $white;
      fill: $white;

      .messenger-__icon {
        fill: $white;
      }
    }

    &--inverse {
      padding: 0;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;

    &--inverse {
      fill: $white;
    }
  }
}
